@font-face {
    font-family: lilita;
    src: url(Fonts/LilitaOne-Regular.ttf);
}
@font-face {
    font-family: breeSerif;
    src: url(Fonts/BreeSerif-Regular.ttf);
}

/* Naming some variables */
:root{
    /* Colors */
    --tickColor1: green;
    --tickColor2: rgb(134, 180, 64);
    --exColor1: red;
    --exColor2: rgb(206, 63, 63);
    --endScreenCompliment: rgb(226, 223, 223);

    /* Transitions */
    --endDisappear: opacity 0.5s linear;
}


body{
    display: grid;
    width: 100vw;
    height: 100vh;

    grid-template-rows: repeat(20, 1fr);
    grid-template-columns: repeat(20, 1fr);
    grid-gap: 0;
    overflow: hidden;

    background-color: #f3cbb4;
}

/* Flashcard itself */

.flashcard{

    background-color: rgb(24, 138, 204);
    border-radius: 5%;
    border-width: 7px;
    border-style: solid;
    border-color: rgb(144, 241, 209);
    padding: 5%;

    display: grid;
    place-items: center;

    word-break: break-word;
    overflow: auto;
    white-space: normal;


    scrollbar-color: transparent transparent;

    /* TEMPORARY FOR TESTS, REMOVE LATER */
    opacity: 0;
}

#mainFlashcard{
    grid-area: 4 / 4/ 17/ 17;
    transition: transform 0.25s linear;
}
#nextFlashcard{
    grid-area:1 / 4 / 13 / 17;
    transform: translateY(-102%);
    transition: transform 0.25s linear;
}
/* When flashcard is flipped, this changes properties */
#mainFlashcard.flipped{
   transform: rotateY(360deg);
   transition: transform 0.25s linear;
}
.flashcardText{
    color: white;
    text-align: center;
    font-family: breeSerif;
    font-size: 2em;
    margin: 0%;
    padding-bottom: 5%;

}
#mainFlashcardQuestion{
    display: block;
}
#mainFlashcardAnswer{
    display: none;
}
.flashcardCounter{
    color: white;
    font-family: breeSerif;
    margin-top: 0;
    text-align: center;


}

/* Tick and X */
#choices{
    grid-area: 18 / 8 / 20 / 13;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.choice{
    font-size: 2em;
    font-family: lilita;
    border-radius: 100%;
    width: 8vh;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: solid;
    border-width: 3px;
    user-select: none;

    transition: var(--endDisappear);
    transition: scale 0.1s ease-out;
}
.choice:hover{
    scale: 120%;
}
#tick{
    background-color: var(--tickColor1);
    border-color: var(--tickColor2);
}
#tick:active{
    background-color: var(--tickColor2);
    border-color: var(--tickColor1);
    scale: 115%;
}
#ex{
    background-color: var(--exColor1);
    border-color: var(--exColor2);
}
#ex:active{
    background-color: var(--exColor2);
    border-color: var(--exColor1);
    scale: 115%;
}

/* Left and right counters */
#leftRightCounters{
    grid-area: 17 / 4 / 20 / 17;
    display: grid;
    grid-template-rows: repeat(20,1fr);
    grid-template-columns: repeat(20, 1fr);
    pointer-events: none;
}
.leftRightCounters{
    border-radius: 30%;
    border-width: 3px;
    border-style: solid;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    max-width: 100px;

    transition: var(--endDisappear);
}
#leftCounter{
    grid-area: 4 / 1 / 18 / 4;
    background-color: var(--tickColor2);
    border-color: var(--tickColor1);
    font-family: lilita;
    font-size: 2em;
}
#rightCounter{
    grid-area: 4 / 18 / 18 / 21;
    background-color: var(--exColor2);
    border-color: var(--exColor1);
    font-family: lilita;
    font-size: 2em;
}

/* End Screen */
#endScreen{
    display: block;
    background-color: rgb(65, 63, 63);
    width: 75%;
    height: 75%;
    left: 12.5%;
    top: 12.5%;
    z-index: -1;

    border-radius: 10%;
    border: 5px solid var(--endScreenCompliment);

    position: fixed;
}
#endScreenTopBar{
    background-color: var(--endScreenCompliment);
    z-index: 1;
    
    width: 100%;
    height: 20%;
    border-top-left-radius: 4em;
    border-top-right-radius: 4em;
}
#curveBorderJoin{
    background-color: rgb(65, 63, 63);
    width: 75%;
    height: 5%;
    position: fixed;
    right: 12%;
    top: 23%;
    border-top-left-radius: 4em;
    border-top-right-radius: 4em;
}
#setFinishedText{
    text-align: center;
    margin: 0;
    padding-top: 3%;
    font-family: breeSerif;
    font-size: 2em;
    color: rgb(65, 63, 63);
}