/* #region Basics */
@font-face {
    font-family: lilita;
    src: url(Fonts/LilitaOne-Regular.ttf);
}
@font-face {
    font-family: breeSerif;
    src: url(Fonts/BreeSerif-Regular.ttf);
}

/* Naming some variables */
:root{
    /* Colors */
    --tickColor1: green;
    --tickColor2: rgb(134, 180, 64);
    --exColor1: red;
    --exColor2: rgb(206, 63, 63);
    --endScreenMain: rgb(65, 63, 63);
    --endScreenCompliment: rgb(226, 223, 223);

    /* Transitions */
    --endDisappear: opacity 0.3s linear;
    --chooseFlashcardHColor: background-color 0.1s ease-out;
    --chooseFlashcardHScale: scale 0.1s ease-out;

    --makeFCExtraButtonsScale: scale 0.1s linear;
    --makeFCExtraButtonsColor: background-color 0.1s linear;
}


body{
    display: grid;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    grid-template-rows: repeat(20, 1fr);
    grid-template-columns: repeat(20, 1fr);
    grid-gap: 0;

    background-color: #f3cbb4;
}
/* #endregion Basics */

/* #region Flashcard */

.flashcard{

    background-color: rgb(24, 138, 204);
    border-radius: 5%;
    border-width: 7px;
    border-style: solid;
    border-color: rgb(144, 241, 209);
    padding: 5%;

    display: grid;
    place-items: center;

    word-break: break-word;
    overflow: auto;
    white-space: normal;


    scrollbar-color: transparent transparent;


}

#mainFlashcard{
    grid-area: 4 / 4/ 17/ 17;
    transition: transform 0.25s linear;
}
#nextFlashcard{
    grid-area:1 / 4 / 13 / 17;
    transform: translateY(-102%);
    transition: transform 0.25s linear;
}
/* When flashcard is flipped, this changes properties */
#mainFlashcard.flipped{
   transform: rotateY(360deg);
   transition: transform 0.25s linear;
}
.flashcardText{
    color: white;
    text-align: center;
    font-family: breeSerif;
    font-size: 2em;
    margin: 0%;
    padding-bottom: 5%;

}
#mainFlashcardQuestion{
    display: block;
}
#mainFlashcardAnswer{
    display: none;
}
.flashcardCounter{
    color: white;
    font-family: breeSerif;
    margin-top: 0;
    text-align: center;


}
/* #endregion Flashcard */

/* #region Tick and X */
#choices{
    grid-area: 18 / 8 / 20 / 13;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: var(--endDisappear);
}
.choice{
    font-size: 2em;
    font-family: lilita;
    border-radius: 100%;
    width: 8vh;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: solid;
    border-width: 3px;
    user-select: none;

    transition: var(--endDisappear);
    transition: scale 0.1s ease-out;

    cursor: pointer;
}
.choice:hover{
    scale: 120%;
}
#tick{
    background-color: var(--tickColor1);
    border-color: var(--tickColor2);
}
#tick:active{
    background-color: var(--tickColor2);
    border-color: var(--tickColor1);
    scale: 115%;
}
#ex{
    background-color: var(--exColor1);
    border-color: var(--exColor2);
}
#ex:active{
    background-color: var(--exColor2);
    border-color: var(--exColor1);
    scale: 115%;
}
/* #endregion Tick and X */


/* #region Left and right counters */
#leftRightCounters{
    grid-area: 17 / 4 / 20 / 17;
    display: grid;
    grid-template-rows: repeat(20,1fr);
    grid-template-columns: repeat(20, 1fr);
    pointer-events: none;
    transition: var(--endDisappear)
}
.leftRightCounters{
    border-radius: 30%;
    border-width: 3px;
    border-style: solid;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    max-width: 100px;

    transition: var(--endDisappear);
}
#leftCounter{
    grid-area: 4 / 1 / 18 / 4;
    background-color: var(--tickColor2);
    border-color: var(--tickColor1);
    font-family: lilita;
    font-size: 2em;
}
#rightCounter{
    grid-area: 4 / 18 / 18 / 21;
    background-color: var(--exColor2);
    border-color: var(--exColor1);
    font-family: lilita;
    font-size: 2em;
}
/* #endregion Left and right counters */


/* #region End Screen */
#endScreen{
    opacity: 0;
    pointer-events: none;

    display: block;
    background-color: rgb(65, 63, 63);
    width: 75%;
    height: 75%;
    left: 12.5%;
    top: 12.5%;
    z-index: 10;

    border-radius: 10%;
    border: .53vw solid var(--endScreenCompliment);
    border-top: none;

    position: fixed;
    transition: var(--endDisappear);

    border-top-left-radius: 5em;
    border-top-right-radius: 5em;
}
#endScreenTopBar{
    background-color: var(--endScreenCompliment);
    z-index: 1;
    
    width: 100%;
    height: 20%;
    border-top-left-radius: 4em;
    border-top-right-radius: 4em;
}
#curveBorderJoin{
    background-color: var(--endScreenMain);
    width: 75%;
    height: 5%;
    position: fixed;
    right: 12%;
    top: 23%;
    border-top-left-radius: 4em;
    border-top-right-radius: 4em;
}
#setFinishedText{
    text-align: center;
    margin: 0;
    padding-top: 3%;
    font-family: breeSerif;
    font-size: 2em;
    color: rgb(65, 63, 63);
}
#nextChoiceContainer{
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 0%;
    align-items: center;
}
.endScreenChoices{
    height: 20%;
    width: 100%;
    color: var(--endScreenCompliment);
    text-align: center;
    font-family: breeSerif;
    font-size: 2em;

    padding-top: 3.5%;

    transition: var(--endDisappear);
}
.endScreenChoices:hover{
    background-color: rgb(114, 108, 108);
    cursor: pointer;
}
#noMistakesPopup{
    position: absolute;
    right: 2%;
    background-color: var(--endScreenMain);
    height: 10%;
    width: 10%;
    font-size: 1em;
    font-family: breeSerif;
    color: var(--endScreenCompliment);
    border: solid 2px var(--endScreenCompliment);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;

    transform: translateX(120%);
    transition: transform linear 0.1s;

    z-index: 100;
}
/* #endregion End Screen */

/* #region Choose Flashcard Set */
#chooseFlashcardsWhole{
    background-color: rgb(109, 106, 106);

    margin-left: 12.5vw;
    width: 75vw;
    height: 85vh;
    margin-top: 7.5vh;

    border: 5px solid rgb(36, 35, 35);

    overflow-y: auto;
    overflow-x: hidden;
}
#chooseFlashcardTitle{
    text-align: center;
    font-family: breeSerif;
    font-size: 2em;
    width: 50%;
    left: 25%;
    position: relative;
}
#makeNewSet{
    text-align: center;
    font-family: breeSerif;
    display: flex;
    flex-direction: row-reverse;
    margin-right: 20px;
    margin-top: -85px;
    margin-bottom: 3%;
}
#makeNewSet p{
    background-color: rgb(142, 145, 144);
    border: 2px solid rgb(80, 75, 75);
    padding: 3px;
    padding-bottom: 6px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.2s ease-out, scale 0.1s ease-in;
}
#makeNewSet p:hover{
    scale: 110%;
    background-color: rgb(80, 75, 75);
    color: rgb(182, 182, 182);
    border-color: rgb(142, 145, 144);
}
#makeNewSet p:active{
    scale: 105%;
    background-color: rgb(51, 49, 49);
    color: rgb(175, 175, 175);
}
#chooseFlashcardList{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#chooseFlashcardList > p{
    background-color: rgb(142, 145, 144);
    width: 100%;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
    font-family: breeSerif;
    font-size: 1.2em;
    margin: 0;
    cursor: pointer;

    transition: var(--chooseFlashcardHColor), var(--chooseFlashcardHScale);
}
#chooseFlashcardList > :nth-child(2n){
    background-color: rgb(80, 75, 75);
}
#chooseFlashcardList > p:hover{
    scale: 110%;
}
#chooseFlashcardList > p:active{
    scale: 105%;
}
#nameFilePopup{
    background-color: rgb(44, 43, 43);
    position: fixed;
    width: 80vw;
    height: 40vh;
    left: 10vw;
    top: 25vh;


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    border-radius: 30px;

    
    opacity: 0%;
    pointer-events: none;
}
#nameErrorPopup{
    color: rgb(228, 23, 23);
    font-family: breeSerif;
    font-size: 1.2em;
    position: relative;
    top: 15px;
    opacity: 0;
    transition: opacity 0.5s ease-out;
}
#midBackground{
    background-color: rgb(69, 69, 70);
    width: 110vw;
    height: 110vh;
    top: -1vh;
    left: -1vw;
    position: absolute;


    opacity: 0%;
    pointer-events: none;
}

#fileNameDiv{
    width: 75%;
    height: 10%;
    flex-grow: 3;
}
#fileName{
    height: 50%;
    width: 85%;
    left: 7.5%;
    top: 60%;
    position: relative;
    font-size: 2em;
    text-align: center;
}
#acceptRejectButtons{
    width: 100%;
    flex-grow: 10;

    display: flex;
    justify-content: space-around;
    align-items: center;
}
#acceptRejectButtons div{
    width: 150px;
    height: 75px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    font-family: breeSerif;
    border: 3px solid;
    border-radius: 20px;
    transition: scale 0.1s linear, background-color 0.1s linear;
}
#acceptRejectButtons div:hover{
    scale: 110%;
    cursor: pointer;
}
#acceptRejectButtons div:active{
    scale: 105%;
}
#acceptButton{
    background-color: green;
}
#rejectButton{
    background-color: red;
}
#acceptButton:hover{
    background-color: var(--tickColor2);
}
#rejectButton:hover{
    background-color: var(--exColor2);
}
#acceptButton:active{
    background-color: rgb(14, 65, 14);
}
#rejectButton:active{
    background-color: rgb(124, 7, 7);
}
/* #endregion Choose Flashcard Set */

/* #region Create Flashcard Set */
#makeFlashcardsBody{
    overflow-y: scroll;
}

#makeFlashcardFlex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#moreQuestions{
    position: relative;
}
.makeFlashcard{
    background-color: var(--endScreenMain);
    color: var(--endScreenCompliment);
    width: 80vw;
    height: 15vw;
    left: 10vw;
    position:relative;
    margin-top: 3vw;

    display: flex;
    justify-content: center;
    align-items: center;

    border: var(--endScreenCompliment) 5px solid;
    border-radius: 20px;
}
.inputDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
}
.inputFields{
    height: 7vw;
    width: 40%;
    background-color: var(--endScreenCompliment);
    color: var(--endScreenMain);
    overflow: auto;
    resize: none;
    font-size: 1.2em;
    border-radius: 30px;
    padding: 2%;
}
.binIcon{
    fill: #605d5d;
    position: absolute;
    top: 3%;
    right: .7%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: fill 0.1s ease-in, background-color 0.1s ease-out, scale 0.1s ease-in;
}
.binIcon:hover{
    fill: white;
    background-color: rgb(160, 4, 4);
    scale: 110%;
}
.binIcon:active{
    background-color: rgb(255, 255, 255);
    fill: rgb(160, 4, 4);
    scale: 105%;
}

#moreQuestions{
    width: 3.7vw;
    height: 3.7vw;
    border: 2px solid var(--endScreenMain);
    color: var(--endScreenMain);
    border-radius: 100%;
    border-width: 2px;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4.5vw;
    padding-bottom: 2px;
}
#centerAddedOptions{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    left: 10vw;
    top: 20px;
    position: relative;
    margin-top: 1vw;
    margin-bottom: 3vw;
}
#extraButtons{
    margin-top: 10px;
}
#extraButtons > div{
    margin-top: 10px;
    
    border: 2px solid var(--endScreenMain);
    border-radius: 10px;
    text-align: center;
    padding: 3px;

}
.makeFCExtraButtons{
    transition: var(--makeFCExtraButtonsScale), var(--makeFCExtraButtonsColor);
    background-color: var(--endScreenCompliment);
    user-select: none;
}
.makeFCExtraButtons:hover{
    scale: 110%;
    cursor: pointer;
    background-color: rgb(178, 177, 179);
}
.makeFCExtraButtons:active{
    background-color: rgb(100, 100, 100);
}
/* #endregion Create Flashcard Set */
