@font-face {
    font-family: lilita;
    src: url(Fonts/LilitaOne-Regular.ttf);
}
@font-face {
    font-family: breeSerif;
    src: url(Fonts/BreeSerif-Regular.ttf);
}


body{
    display: grid;
    width: 100vw;
    height: 100vh;

    grid-template-rows: repeat(20, 1fr);
    grid-template-columns: repeat(20, 1fr);
    grid-gap: 0;
    overflow: hidden;

    background-color: #f3cbb4;
}

/* Flashcard itself */

.flashcard{
    background-color: rgb(24, 138, 204);
    border-radius: 5%;
    border-width: 7px;
    border-style: solid;
    border-color: rgb(144, 241, 209);
    padding: 5%;

    display: grid;
    place-items: center;

    word-break: break-word;
    overflow: auto;
    white-space: normal;


    scrollbar-color: transparent transparent;
}

#mainFlashcard{
    grid-area: 4 / 4/ 17/ 17;
    transition: transform 0.25s linear;
}
#nextFlashcard{
    grid-area:1 / 4 / 13 / 17;
    transform: translateY(-102%);
    transition: transform 0.25s linear;
}
/* When flashcard is flipped, this changes properties */
#mainFlashcard.flipped{
   transform: rotateY(360deg);
   transition: transform 0.25s linear;
}
.flashcardText{
    color: white;
    text-align: center;
    font-family: breeSerif;
    font-size: 2em;
    margin: 0%;
    padding-bottom: 5%;

}
#mainFlashcardQuestion{
    display: block;
}
#mainFlashcardAnswer{
    display: none;
}
.flashcardCounter{
    color: white;
    font-family: breeSerif;
    margin-top: 0;
    text-align: center;


}

/* Tick and X */
#choices{
    grid-area: 18 / 8 / 20 / 13;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.choice{
    font-size: 2em;
    font-family: lilita;
    border-radius: 100%;
    width: 8vh;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: solid;
    border-width: 3px;
    user-select: none;

    transition: scale 0.1s ease-out;
}
.choice:hover{
    scale: 120%;
}
#tick{
    background-color: green;
    border-color: rgb(134, 180, 64);
}
#tick:active{
    background-color: rgb(134, 180, 64);
    border-color: green;
    scale: 115%;
}
#ex{
    background-color: red;
    border-color: rgb(206, 63, 63);
}
#ex:active{
    background-color: rgb(206, 63, 63);
    border-color: red;
    scale: 115%;
}

/* Left and right counters */
#leftRightCounters{
    grid-area: 17 / 4 / 20 / 17;
    display: grid;
    grid-template-rows: repeat(20,1fr);
    grid-template-columns: repeat(20, 1fr);
    pointer-events: none;
}
.leftRightCounters{
    border-radius: 30%;
    border-width: 3px;
    border-style: solid;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    max-width: 100px;
}
#leftCounter{
    grid-area: 4 / 1 / 18 / 4;
    background-color: rgb(134, 180, 64);
    border-color: green;
    font-family: lilita;
    font-size: 2em;
}
#rightCounter{
    grid-area: 4 / 18 / 18 / 21;
    background-color: rgb(206, 63, 63);
    border-color: red;
    font-family: lilita;
    font-size: 2em;
}
